#admanmedia, .adm-intext {
  margin: 0 auto;
  text-align:center;
  display:block;
}
.adsfl {
  float:left;
  margin: 0 1.5rem 1.5rem 0;
}
.adsfr {
  float:left;
  margin: 0 0 1.5rem 1.5rem;
}
.adsce {
  margin: 1.5rem auto;
  display:block;
  text-align:center;
}